header {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background: url('https://images.unsplash.com/photo-1533750516457-a7f992034fec?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1381&q=80');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#landing-header {
  width: 100%;
  background: #000000a6;
  height: calc(100vh - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
#landing-header .header {
  margin-left: 15vw;
}
.header h1 {
  font-size: 3rem;
  font-family: 'Abel', sans-serif;
  color: var(--primary);
  margin: 0.7rem 0;
  color: #E86A33;
}
.header p {
  width: 65%;
  color: #F2E3DB;
  margin: 0.7rem 0;
}
.header .btn {
  font-family: 'Abel', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border: none;
  border-radius: 3px;
}
.btn.btn-primary {
  color: var(--dark);
  background: var(--primary);
  border: 1px solid var(--primary);
}
.btn.btn-secondary {
  color: var(--dark);
  background: var(--blue);
  border: 1px solid var(--blue);
}
.btn.btn-primary:hover {
  background: none;
  border-radius: 3px;
  color: var(--primary);
  border: 1px solid var(--primary);
}
.btn.btn-secondary:hover {
  background: none;
  border-radius: 3px;
  color: var(--blue);
  border: 1px solid var(--blue);
}
/* Media Queries */
@media screen and (max-width: 728px) {
  #landing-header .header {
    text-align: center;
    margin: 0 auto;
  }
  .header p {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .header h1 {
    font-size: 2rem;
  }
}
.typing-animation {
  overflow: hidden; /* Hide overflowing content */
  white-space: nowrap; /* Prevent line breaks */
  animation: typing 5s steps(40, end) forwards;
}

@keyframes typing {
  from {
    width: 0; /* Start with no width */
  }
  to {
    width: 100%; /* End with full width */
  }
}



