/* Custom Style */
.nav-social {
  width: 100%;
  height: 36px;
  padding: 0 2rem;
  background: var(--lightTransparence);
  color: var(--primary);
}
.nav-social ul li {
  display: inline-block;
  padding: 0.5rem 0.7rem;
  border-right: 1px solid #fff;
}
.nav-social ul.to-right li:hover {
  opacity: 0.5;
}
.nav-social ul li:nth-child(1) {
  border-left: 1px solid #fff;
}
/* Nav Bar Items Style */
.sticky {
  background: var(--lightTransparence);
  top: 0;
}
.topnav {
  width: 100%;
  height: 52px;
  color: #F2E3DB;
  text-transform: uppercase;
  padding: 0 2rem;
  position: fixed;
  z-index: 2;
  overflow: hidden;
  background: #41644A;
}
.topnav .menu {
  text-transform: capitalize;
}
.menu .nav-item {
  display: inline-block;
  cursor: pointer;
  background: none;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  padding: 0.5rem 0.7rem;
  color: #F2E3DB;
}
.nav-item:hover {
  text-transform: uppercase;
  border-bottom: 2px solid yellow;

}
.nav-item:focus {
  outline: none;
}
.topnav .logo {
  cursor: default;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem;
}
.topnav .navBtn {
  display: none;
}
.topnav .navBtn:hover {
  background: none;
  color: var(--blue);
}
.topnav .active {
  background: var(--lightTransparence);
  color: var(--blue);
}

/* Screen styles */
@media screen and (max-width: 728px) {
  .nav-social {
    text-align: center;
  }
  .nav-social .to-left {
    display: none;
  }
  .nav-social .to-right,
  .nav-social .to-left {
    float: none;
  }
}
@media screen and (max-width: 725px) {
  .topnav .navBtn {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.9rem;
  }
}
@media screen and (max-width: 620px) {
  .topnav {
    padding: 0;
  }
  .topnav .logo {
    text-align: center;
    padding: 0.7rem;
    float: none;
  }
  .topnav .menu .nav-item:hover {
    border: none;
  }
  .responsive .menu .nav-item {
    float: none;
    display: block;
    text-align: left;
  }
  .responsive .menu .nav-item a {
    width: 100%;
    display: block;
  }
  .responsive {
    height: auto;
    z-index: 2;
  }
  .responsive .menu {
    float: none;
  }
  .responsive .active {
    border: none;
  }
}
.logo {
  font-family: serif; /* Replace 'Your Beautiful Font' with the desired font family */
  font-size: 36px; /* Adjust the font size as needed */
  text-transform: uppercase; /* Make the text uppercase */
  letter-spacing: 2px; /* Add letter spacing for a stylish look */
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flomi, .tech {
  width: 100%;
  text-align: center;
}

.flomi {
  color: whitesmoke; /* Make "flomi" white smoke */
}

.slogan {
  font-size: 8px; /* Adjust the font size for the slogan */
  color:#E86A33; /* Color for the slogan */

}

.social-media-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
}
