.service {
  width: 100%;
  background: #F2E3DB;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.service img {
  height: 275px;
}
.service .service-info {
  padding: 1rem;
}
.service-info h4 {
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 1020px) {
  .service img {
    height: 200px;
  }
}
@media screen and (max-width: 920px) {
  .service img {
    height: 175px;
  }
}
@media screen and (max-width: 720px) {
  .service img {
    height: 170px;
  }
}
@media screen and (max-width: 520px) {
  .service img {
    height: auto;
  }
}
